

.tool-icon {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 20px;
  border: 2px solid #ebebeb;
}
.app-container{
  height: 100vh;
  overflow: hidden;
}


body{
  max-height:100vh;
  overflow:hidden;
}


.current-color {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
[role="button"]{
  display: flex;justify-content: space-between;align-items: center;
}
}

.controls{
  overflow-y: scroll;
  padding-bottom: 200px;
  
}
.tool-bar-content{
  padding: 0px 15px;
}
*{
  font-size: small;
}

button[disabled] {
  opacity: 0.2;
  pointer-events: none;
}


.history-preview {max-height: 175px;overflow: hidden;width: 258px;max-width:16.66vw; border: 2px solid #d1cece;z-index: 2;position: fixed;bottom: 20px;
  left:17.66vw;
  transition: 0.15s;
  background-color: rgba(232, 232, 232,1);
  img {width: 100%;height: auto;}
}

.context_menu{
  position: absolute !important;
  z-index: 3;
  width: 250px !important;
  height: fit-content !important;
}

img#load {position: absolute;width: 55px;padding: 12px 9px;left: 50%;transform: translateX(-50%);}
.layer_item{
  &:hover .action-icons{
    display: block !important;
  }
  .action-icons{
    display: none;
  }
}


.mobile_top_toolbar,.mobile_bottom_toolbar {position: absolute;padding: 5px 20px;z-index: 5;
  margin-left: 50% !important;
  transform: translateX(-50%);border-radius: 10px;width: 90%;
display:flex;
justify-content: center;
}
.mobile_top_toolbar {
  top: 75px;
  background-color: #bebebe00;
  filter: invert(1);
}
.mobile_bottom_toolbar {background-color: #2b2b2b;bottom: 70px;}